<aside class="blog-post-aside">
  <p>
    <span>
      {% set auth_list = [] %}
      {% if page.meta.authors %}
        {% for author in page.meta.authors %}
          {% if "@" in author %}
            {% set author = '<a href="https://github.com/'+author.replace("@", "")+'">'+author+'</a>' %}
          {% endif %}
          {% set auth_list = auth_list.append("<strong>"+author+"</strong>") %}
        {% endfor %}
        {{ auth_list|join(" & ") }}
      {% endif %}
      {% include "partials/blog_social.html" %}
      <span class="twemoji">
        {% include ".icons/octicons/calendar-24.svg" %}
      </span>
      {{ page.meta.date.strftime("%B %d, %Y") }}
    </span>
  </p>
</aside>
