<aside class="blog-post-aside">
  <p>
    <span>
      {% if page.meta.authors %}
        {% for author in page.meta.authors %}
          {% if "@" in author %}
            {% set auth = author.replace("@", "") %}
              <strong><a href="https://github.com/{{auth}}">{{ author }}</a></strong>
          {% endif %}
          {% if not "@" in author %}
              <strong>{{ author }}</strong>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% include "partials/blog_social.html" %}
      <span class="twemoji">
        {% include ".icons/octicons/calendar-24.svg" %}
      </span>
      {{ page.meta.date.strftime("%B %d, %Y") }}
    </span>
  </p>
</aside>
